*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
    color: black;
}
body{
    width: 100%;
    height: 100%;
}
.clear{
    clear: both;
}
/* -------------------- index page -------------------- */
.indexBody{
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.indexTop{
    width: 100%;
    height: 14.5%;
}
.indexTop_top{
    width: 100%;
    height: 50px;
}
.indexTop_bottom{
    width: 100%;
    height: 50px;
    border-top: gainsboro solid thin;
    border-bottom: gainsboro solid thin;
}
.indexTop_top .title{
    font-size: 30px;
    width: 80%;
    margin-top: 0.5%;
    margin-left: 2%;
    float: left;
}
.indexTop_top .button{
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-top: 0.6%;
    margin-left: 9%;
}
.indexTop_bottom .options{
    text-align: center;
}
.indexTop_bottom .options ul{
    display: inline-block;
    float: none;
}
.indexTop_bottom .options li{
    list-style: none;
    float: left;
    width: 130px;
    height: 37px;
    font-size: 20px;
    padding-top: 13px;
}
.indexTop_bottom .options li a{
    text-decoration: none;
    color: black;
}
.indexMiddle{
    width: 100%;
    height: 80%;
}
.indexMiddle iframe{
    width: 100%;
    height: 100%;
}
.indexBottom{
    background-color: whitesmoke;
    opacity: 0.5;
    width: 100%;
    height: 5.5%;
    position: absolute;
}
.indexBottom div{
    margin-top: 10px;
}
/* -------------------- login page -------------------- */
.loginBody{
    background-image: url("loginBackgroud.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.loginMain{
    text-align: center;
    width: 30%;
    height: 34.5%;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    position: absolute;
    top: 32.75%;
    left: 35%;
}
.loginMain .username{
    margin-top: 10%;
    margin-bottom: 2%;
}
.loginMain .password{
    margin-top: 2%;
    margin-bottom: 5%;
}
.loginMain .input{
    width: 180px;
    height: 23px;
    font-size: 15px;
}
.loginMain .button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 3%;
}
.loginMain .register{
    margin-bottom: 2%;
}
.loginMain .message{
    color: crimson;
}
/* -------------------- user index and admin index page -------------------- */
.mainBody{
    background-image: url("loginBackgroud.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.mainTop{
    border-bottom: gainsboro solid thin;
    width: 100%;
    height: 10%;
}
.mainLeft{
    border-right: gainsboro solid thin;
    width: 20%;
    height: 90%;
    float: left;
}
.mainRight{
    position: absolute;
    width: 80%;
    height: 90%;
    left: 20%;
}
.mainRight iframe{
    width: 100%;
    height: 100%;
}
.mainTop .title{
    width: 80%;
    font-size: 30px;
    margin-top: 1.2%;
    margin-left: 2%;
    float: left;
}
.mainTop .button{
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-top: 1.2%;
    margin-left: 8%;
}
.mainLeft li{
    border-bottom: gainsboro solid thin;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding-top: 13px;
}
.mainLeft li a{
    text-decoration: none;
    color: black;
}
/* -------------------- welcome page -------------------- */
.welcome{
    width: 50%;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 25%;
}
/* -------------------- contact information page -------------------- */
.contactMain{
    width: 30%;
    height: 60%;
    border-color: darkgray;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 35%;
}
.contactMain div{
    font-size: 20px;
    text-align: center;
    margin-top: 30%;
}
/* -------------------- sale history page -------------------- */
.saleHistoryMain{
    width: 100%;
    height: 100%;
}
.historyContent{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 50%;
    height: 35%;
    margin: 0 auto;
    margin-top: 1.5%;
}
.historyContent .title{
    border-bottom: gainsboro solid thin;
    width: 100%;
    height: 15%;
}
.historyContent .title div{
    font-size: 20px;
    font-weight: bold;
    color: cornflowerblue;
    margin-top: 0.5%;
}
.historyContent .diary{
    border-right: gainsboro solid thin;
    width: 48%;
    height: 60%;
    float: left;
    margin-left: 0.5%;
}
.historyContent .diary li{
    list-style: none;
    margin-top: 2%;
}
.historyContent .diary .color1{
    float: left;
    margin-top: 0;
}
.historyContent .diary .color2{
    float: left;
}
.historyContent .information{
    width: 48%;
    height: 60%;
    float: left;
    margin-left: 1.5%;
}
.historyContent .information li{
    list-style: none;
    margin-top: 2%;
}
.historyContent .feedback{
    border-top: gainsboro solid thin;
    width: 100%;
    height: 30%;
    margin-top: 16%;
}
.historyContent .feedback div{
    word-break: break-word;
    font-size: 15px;
}
.historyContent .showColor{
    border: black solid thin;
    width: 50px;
    height: 20px;
    margin-left: 27%;
    margin-top: 2%;
}
/* --------------------  register page -------------------- */
.registerBody{
    background-image: url("loginBackgroud.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.registerMain{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 35%;
}
.registerMain form{
    text-align: center;
    margin-top: 13%;
}
.registerMain .inputDiv{
    margin-top: 2%;
    margin-bottom: 5%;
}
.registerMain .input{
    width: 180px;
    height: 23px;
    font-size: 15px;
}
.registerMain .button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 3%;
}
.registerMain .message{
    margin-bottom: 2%;
    color: crimson;
}
/* --------------------  order diary page -------------------- */
.orderDiaryMain{
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
.orderDiaryContent{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 70%;
    height: 80%;
    margin: 0 auto;
}
.orderDiaryLeft{
    border-right: lightgray solid thin;
    border-bottom: lightgray solid thin;
    width: 50%;
    height: 440px;
    float: left;
}
.orderDiaryRight{
    border-left: lightgray solid thin;
    border-bottom: lightgray solid thin;
    width: 50%;
    height: 440px;
    margin-left: 50%;
}
.orderDiaryContent .title{
    border-bottom: lightgray solid thin;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}
.orderDiaryContent .inputTitle{
    width: 38%;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 1.5%;
    float: left;
}
.orderDiaryLeft .paperColorType .paperColorTypeOption{
    padding-top: 5.5%;
}
.orderDiaryLeft .paperColorType .paperColorTypeOption input{
    margin-right: 2%;
}
.orderDiaryLeft .paperColor input{
    margin-top: 5%;
}
.orderDiaryLeft .paperType .paperTypeOption{
    padding-top: 5.5%;
}
.orderDiaryLeft .paperType .paperTypeOption input{
    margin-right: 2%;
}
.orderDiaryLeft .coverColor input{
    margin-top: 5%;
}
.orderDiaryLeft .coverText input{
    margin-top: 5.5%;
}
.orderDiaryLeft .paperTheme select{
    width: 40%;
    margin-top: 5.5%;
}
.orderDiaryLeft .diaryPrice .price{
    font-size: 25px;
    color: forestgreen;
    padding-top: 4%;
}
.orderDiaryRight .quantity input{
    margin-top: 5.5%;
}
.orderDiaryRight .paymentMethod{
    margin-top: 0.5%;
}
.orderDiaryRight .paymentMethod .paymentMethodOption{
    padding-top: 5%;
}
.orderDiaryRight .paymentMethod .paymentMethodOption input{
    margin-right: 2%;
}
.orderDiaryRight .paymentAccount{
    margin-top: 0.8%;
}
.orderDiaryRight .paymentAccount select{
    width: 45%;
    margin-top: 5.5%;
}
.orderDiaryRight .address{
    margin-top: 0.3%;
}
.orderDiaryRight .address select{
    width: 45%;
    margin-top: 5.5%;
}
.orderDiaryRight .postage{
    margin-top: 0.4%;
}
.orderDiaryRight .postage .price{
    font-size: 25px;
    color: forestgreen;
    padding-top: 4%;
}
.orderDiaryRight .totalPrice .price{
    font-size: 25px;
    color: crimson;
    padding-top: 4%;
}
.orderDiaryContent .button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-top: 1%;
}
.orderDiaryContent .buttonDiv{
    text-align: center;
}
.orderDiaryMain .message{
    text-align: center;
    font-size: 20px;
    color: crimson;
    margin-top: -2%;
    margin-bottom: 1%;
}
/* --------------------  address page -------------------- */
.addressMain{
    width: 100%;
    height: 100%;
}
.addAddress{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 20px;
}
.addAddress p{
    color: crimson;
    margin-top: 1%;
}
.addressMain .address{
    margin-top: 2%;
}
.addressMain .address table{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}
.addressMain .address table td{
    border-bottom: darkgray solid thin;
}
.addressMain .address .title{
    width: 100px;
    border-right: darkgray solid thin;
}
.addressMain .address .button{
    border-left: darkgray solid thin;
    text-align: center;
    width: 80px;
}
.addressMain .address .button button{
    background: whitesmoke;
    width: 40px;
    height: 25px;
    font-size: 15px;
}
.addressMain .noRecord{
    margin-top: 2%;
    text-align: center;
}
.addressMain .noRecord p{
    font-size: 20px;
}
/* --------------------  add address page -------------------- */
.addAddressMain{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
}
.addAddressMain form{
    text-align: center;
    padding-top: 5%;
}
.addAddressMain .inputDiv{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.addAddressMain input{
    width: 100%;
    height: 30px;
    font-size: 15px;
}
.addAddressMain .selectDiv{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    font-size: 15px;
}
.addAddressMain select{
    width: 70%;
    height: 30px;
    font-size: 15px;
    margin-left: 12%;
}
.addAddressMain button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-top: 4%;
}
/* --------------------  payment page -------------------- */
.paymentMain{
    width: 100%;
    height: 100%;
}
.addPayment{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 20px;
}
.addPayment p{
    color: crimson;
    margin-top: 1%;
}
.paymentMain .payment{
    margin-top: 2%;
}
.paymentMain .payment table{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
}
.paymentMain .payment table td{
    border-bottom: darkgray solid thin;
}
.paymentMain .payment .title{
    width: 100px;
    border-right: darkgray solid thin;
}
.paymentMain .payment .button{
    border-left: darkgray solid thin;
    text-align: center;
    width: 80px;
}
.paymentMain .payment .button button{
    background: whitesmoke;
    width: 40px;
    height: 25px;
    font-size: 15px;
}
.paymentMain .noRecord{
    margin-top: 2%;
    text-align: center;
}
.paymentMain .noRecord p{
    font-size: 20px;
}
/* --------------------  add payment page -------------------- */
.addPaymentMain{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 30%;
}
.addPaymentMain form{
    padding-top: 5%;
}
.addPaymentMain .inputDiv{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.addPaymentMain input{
    width: 100%;
    height: 30px;
    font-size: 15px;
}
.addPaymentMain .buttonDiv{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.addPaymentMain button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
    margin-top: 10%;
}
.addPaymentMain .radioDiv{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 3%;
}
.addPaymentMain .radioDiv .paymentTypeTitle{
    float: left;
    margin-top: 1.78%;
    margin-right: 1%;
}
.addPaymentMain .radioDiv .paymentType .option{
    width: 5%;
    padding-top: 0.5%;
    padding-left: 1%;
    margin-right: 1%;
    float: left;
}
.addPaymentMain .radioDiv .paymentType .optionName{
    width: 20%;
    padding-top: 1.78%;
    font-size: 15px;
    float: left;
}
/* --------------------  order history page -------------------- */
.orderHistoryMain{
    width: 100%;
    height: 100%;
}
.orderHistoryMain .noRecord{
    margin-top: 2%;
    text-align: center;
}
.orderHistoryMain .noRecord p{
    font-size: 20px;
}
.orderHistoryMain .order{
    margin-top: 2%;
}
.orderHistoryMain .order table{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 65%;
    margin: 0 auto;
    background-color: #cccccc;
}
.orderHistoryMain .order table th{
    background-color:#ffffff;
    line-height:150%;
}
.orderHistoryMain .order table td{
    background-color:#ffffff;
    line-height:150%;
}
.orderHistoryMain .order .button{
    text-align: center;
    width: 80px;
}
.orderHistoryMain .order .button button{
    background: whitesmoke;
    width: 60px;
    height: 25px;
    font-size: 15px;
}
/* --------------------  order details page -------------------- */
.orderDetailsMain{
    width: 100%;
    height: 100%;
}
.orderDetailsMain .showColor{
    border: black solid thin;
    width: 50px;
    height: 20px;
}
.orderDetailsMain table{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 65%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #cccccc;
}
.orderDetailsMain table th{
    background-color:#ffffff;
    line-height:150%;
}
.orderDetailsMain table td{
    background-color:#ffffff;
    line-height:150%;
}
.orderDetailsMain .button{
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
}
.orderDetailsMain button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
}
/* --------------------  feedback page -------------------- */
.feedbackMain{
    width: 100%;
    height: 100%;
}
.feedbackMain .noRecord{
    margin-top: 2%;
    text-align: center;
}
.feedbackMain .showColor{
    border: black solid thin;
    width: 50px;
    height: 20px;
}
.feedbackMain table{
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 65%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #cccccc;
}
.feedbackMain table th{
    background-color:#ffffff;
    line-height:150%;
}
.feedbackMain table td{
    background-color:#ffffff;
    line-height:150%;
}
.feedbackMain .button{
    margin-top: 2%;
    text-align: center;
}
.feedbackMain button{
    background: whitesmoke;
    width: 90px;
    height: 35px;
    font-size: 15px;
}
.feedbackMain textarea{
    height: 60px;
    width: 74%;
    float: left;
    resize: none;
    font-size: 16px;
}